:root {
  /* fonts */
  --font-main: "Noto Sans JP", sans-serif;
  --font-title: "LINE Seed JP", sans-serif;
  --font-sub: "JetBrains Mono", monospace;

  /* font-size */
  --font-size-mut-title-l: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  --font-size-mut-title-m: clamp(1rem, 1vw + 1rem, 1.5rem);
  --font-size-mut-txt-m: clamp(0.5rem, 1vw + 0.5rem, 1rem);
  --font-size-mut-txt-s: clamp(0.5rem, 1vw + 0.5rem, 0.8rem);

  /* sizing */
  --h-header: 4rem;
  --w-min-content: 300px;
  --w-max-content: 960px; /* 要調整 */
  --h-footer: 1.2rem;

  /* spacing */
  --spacing-gap-nav: 1.2rem;

  /* color */
  --clr-footer: #4b5563; /* gray-600 */
  --clr-shadow: rgb(from #111827 r g b / 0.3); /* gray-900 */

  /* duration */
  --duration-common: 0.15s ease;

  /* 明度調整要 */
  --num-txt-sub: 25;
  --num-border: 23;
}

:root[data-theme="light"] {
  --theme-icon: url("/img/icon/light.svg");
  --clr-bg-main: #f3f4f6; /* gray-100 */
  --clr-txt-main: #334155; /* slate-700 */
  --clr-txt-sub: hsl(from var(--clr-txt-main) h s calc(l + var(--num-txt-sub)));
  --clr-border-active: #9ca3af; /* gray-400 */
  --clr-border: hsl(from var(--clr-border-active) h s calc(l + var(--num-border)));
}

:root[data-theme="dark"] {
  --theme-icon: url("/img/icon/dark.svg");
  --clr-bg-main: #111827; /* gray-900 */
  --clr-txt-main: #e2e8f0; /* slate-200 */
  --clr-txt-sub: hsl(from var(--clr-txt-main) h s calc(l - var(--num-txt-sub)));
  --clr-border-active: #6b7280; /* gray-500 */
  --clr-border: hsl(from var(--clr-border-active) h s calc(l - var(--num-border)));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(16px, 102vw, 18px);
}

body {
  position: relative;
  background-color: var(--clr-bg-main);
  color: var(--clr-txt-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  color: var(--clr-txt-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.contents {
  width: 100%;
  min-height: calc(100vh - var(--h-footer));
  padding: var(--h-header);
}

main {
  width: 100%;
  min-width: var(--w-min-content);
  max-width: var(--w-max-content);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-title);
}

.sub {
  font-family: var(--font-sub);
  font-weight: 200;
  color: var(--clr-txt-sub);
}

/* コードブロック */
.expressive-code .code-icon {
  width: 1rem;
  aspect-ratio: 1;
}

.expressive-code .code-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
