:root {
  --header-h: 3.5rem;
  --content-min-w: 300px;
  --content-max-w: 960px; /* 要調整 */
  --footer-h: 1.2rem;
  --footer-clr: #4b5563;
  --nav-gap: 1.2rem;
}

:root[data-theme="light"] {
  --bg-main-clr: #f9fafb; /* gray-50 */
  --txt-main-clr: #1e293b; /* slate-800 */
  --txt-sub-clr: #334155; /* slate-600 */
  --bordar-clr: #d1d5db; /* gray-300 */
}

:root[data-theme="dark"] {
  --bg-main-clr: #111827; /* gray-900 */
  --txt-main-clr: #e2e8f0; /* slate-200 */
  --txt-sub-clr: #94a3b8; /* slate-400 */
  --bordar-clr: #4b5563; /* gray-600 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

body {
  position: relative;
  background-color: var(--bg-main-clr);
  color: var(--txt-main-clr);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  color: var(--txt-main-clr);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

header {
  position: fixed;
  width: 100%;
  height: var(--header-h);
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 700;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
}

.top__a {
  font-size: 2.5rem;
  font-weight: 700;
}

.header-container {
  width: 100%;
  max-width: var(--content-max-w);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: var(--header-h);
  display: flex;
  gap: var(--nav-gap);
  align-items: center;
  font-size: 1.1rem;

  ul {
    text-decoration: none;
    display: flex;
    gap: var(--nav-gap);
  }
}

.theme-btn {
  padding-top: 0.4rem;
}

.theme-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-mask: url("/img/light-mode.svg") no-repeat center / contain;
  mask: url("/img/light-mode.svg") no-repeat center / contain;
  background-color: var(--txt-main-clr);
}

:root[data-theme="dark"] .theme-icon {
  -webkit-mask-image: url("/img/dark-mode.svg");
  mask-image: url("/img/dark-mode.svg");
}

.contents {
  width: 100%;
  min-height: calc(100vh - var(--footer-h));
  padding: var(--header-h);
}

main {
  width: 100%;
  min-width: var(--content-min-w);
  max-width: var(--content-max-w);
}

footer {
  height: var(--footer-h);
  font-family: "LINESeed JP", sans-serif;
  font-size: 0.8rem;
  color: var(--footer-clr);
  p {
    text-align: center;
  }
  a:link,
  a:visited {
    color: var(--footer-clr);
    text-decoration: underline;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img {
  height: auto;
}

.title {
  font-family: "LINE Seed JP", sans-serif;
}

.sub-txt {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
  color: var(--txt-sub-clr);
}

.back-link {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: background-color 0.2s ease-out;
}

.back-link::before,
.back-link::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 68%;
  width: 0.8rem;
  height: 0.8rem;
  transform: translate(-68%, -50%) rotate(-45deg);
  border-top: 0.2rem solid var(--txt-main-clr);
  border-left: 0.2rem solid var(--txt-main-clr);
  z-index: 10;
}

.back-link:hover {
  background-color: var(--bordar-clr);
}
