:root {
  --header-h: 36px;
  --content-max-w: 960px;/* 要調整 */
  --footer-h: 20px;
  --footer-clr: #4b5563;
}

:root[data-theme="light"] {
  --bg-main-clr: #f9fafb; /* gray-50 */
  --txt-main-clr: #0f172a; /* slate-900 */
}

:root[data-theme="dark"] {
  --bg-main-clr: #111827; /* gray-900 */
  --txt-main-clr: #e2e8f0; /* slate-200 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif; /* "JetBrains Mono", monospace; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  background-color: var(--bg-main-clr);
  color: var(--txt-main-clr);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: var(--header-h);

  .header-container {
    width: 100%;
    max-width: var(--content-max-w); 
    display: flex;
    justify-content: space-between;
  }

  ul {
    text-decoration:none;
    display: flex;
    gap: 1.5rem;
  }
}


.contents {
  width: 100%;
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
}

main {
  max-width: 600px;
}

footer {
  height: var(--footer-h);
  font-size: 0.8rem;
  color: var(--footer-clr);
  p {
    text-align: center;
  }
  a:link,
  a:visited {
    color: var(--footer-clr);
    text-decoration: underline;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img {
  height: auto;
}
