---
import Layout from '@/layouts/Layout.astro';
import { getTags } from '@/lib';

const tags = await getTags();
---

<Layout title={"タグ一覧"}>
  <main>
    <a href="/">← トップへ戻る</a>
    <h1>タグ一覧</h1>
    {
      tags.length === 0 ? (
        <p>タグがありません。</p>
      ) : (
        <ul>
          {tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))}
        </ul>
      )
    }
  </main>
</Layout>

<style>
  h1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 8px;
      span {
        font-size: 0.85rem;
        color: #666;
      }
      h2 {
        margin: 5px 0 10px 0;
        font-size: 1.3rem;
        a {
          color: #0066cc;
          text-decoration: none;
        }
      }
      p {
        margin: 0;
        color: #444;
        font-size: 0.95rem;
      }
    }
  }
</style>
