---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="プロファイル">
  <main>
    <section>
      <!-- 自己紹介 -->
      <div class="center">
        <img src="https://avatars.githubusercontent.com/u/169122209" alt="アイコン" width="100" height="100"/>
        <p>加地 良寅</p>
      </div>
    </section>
  </main>
</Layout>
